@using Web_lab.Models
@model RestorePasswordModel

<div class="container">
	<div claclass="row">
		<div class="col">
			@using (Html.BeginForm("RestorePasswordPost", "Auth", FormMethod.Post, new { id = "authorizationForm" }))
			{
				<div class="form-group mb-1">
					@Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label" })
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Введите новый пароль" })
					@Html.ValidationMessageFor(m => m.NewPassword, "Введите новый пароль. Пароль должен содержать не менее 6 символов", new { @class = "text-danger" })
				</div>

				<div class="form-group mb-3">
					@Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтвердите пароль" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "Пароли не совпадают", new { @class = "text-danger" })
				</div>

				@Html.HiddenFor(m => m.UserName);

				<div class="form-group mb-3">
					<button type="submit" class="btn btn-outline-primary" id="restorePassword">Сменить пароль</button>
				</div>
			}
		</div>
	</div>
</div>

<script>
	$("#restorePassword").on('click', function (event) {
		event.preventDefault();
		var requestData = {
			NewPassword: $("#NewPassword").val(),
			ConfirmPassword: $("#ConfirmPassword").val(),
			UserName: '@Model.UserName'
		}

		$.ajax({
			url: '/Auth/RestorePasswordPost',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(requestData),
			success: function (response) {
				console.log(response);
				if (response.success) {
					alert('Вы успешно сменили пароль! Теперь вы можете авторизоваться.');
					window.location.href = "/";
				}
				else {
					alert('При попытке смены пароля произошла ошибка: ' + response.Message);
				}
			},
			error: function (xhr, status, error) {
				console.error("Error during restoring password: " + error);
			}
		});
	});
</script>