@using Web_lab.Models
@model ForgotPasswordRequest

<div class="modal fade" id="modalForgotPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title center text-light text-decoration-none" id="staticBackdropLabel">Отправить запрос на смену пароля</h3>
				<button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div claclass="row">
						<div class="col">
							@using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { id = "forgotPasswordForm" }))
							{
								<div class="form-group mb-1">
									@Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label" })
									@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Введите логин" })
									@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
								</div>

								<div class="form-group mb-3">
									@Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Введите адрес электронной почты, привязанный к аккаунту" })
									@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
								</div>

								<div class="form-group mb-3">
									<button type="submit" class="btn btn-outline-primary" id="forgotPassword">Отправить запрос на смену пароля</button>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Назад</button>
			</div>
		</div>
	</div>
</div>

<script>
	$("#forgotPassword").on('click', function (event) {
		event.preventDefault();
		var requestData = {
			UserName: $("#UserName").val(),
			Email: $("#Email").val(),
		}
		console.log(requestData);
		$.ajax({
			url: '/Auth/ForgotPassword',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(requestData),
			success: function (response) {
				if (response.success) {
					var restorePasswordUrl = window.location.origin + '/Auth/RestorePassword?token=' + response.token;

					if (confirm('Перейдите по этой ссылке, чтобы изменить пароль: ' + restorePasswordUrl)) {
						window.location.href = restorePasswordUrl;
					}
				}
				else {
					alert('При попытке отправки запроса на смену пароля произошла ошибка: ' + response.message);
				}
			},
			error: function (xhr, status, error) {
				console.error("Error during sending change password request: " + error);
			}
		});
	});
</script>